- if user_signed_in?
  %li= link_to 'AVL', avls_url
  %li= link_to t('attributes.req_ord'), req_ords_url
  %li= link_to '登出', destroy_user_session_path, :method=>'delete'
  %li= link_to current_user.email, '#'



